* {
    font-family: Arial, 'Times New Roman', sans-serif;
}
#heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

.subheading {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
}

.isi {
    font-size: 15px;
    text-align: justify;
}
.picture {
    height: auto;
    width: 500px;
}
img {
    display: block;
    margin: 0 auto;
}

.link {
    background-color: lightsalmon;
}